<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormPimpMyUnicorn.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="2147483647" 
                         openTimeout="00:30:00"
                         closeTimeout="00:30:00"
                         sendTimeout="00:30:00"
                         receiveTimeout="00:30:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFPimpMyUnicorn/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="WCFPimpMyUnicorn.IService1" name="BasicHttpBinding_IService1"/>

            <!--<endpoint address="http://10.176.128.118:88/ServicePimpMyUnicorn/WCFPimpMyUnicorn.Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="WCFPimpMyUnicorn.IService1" name="BasicHttpBinding_IService1"/>-->
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WinFormPimpMyUnicorn.Settings1>
            <setting name="path_to_folder" serializeAs="String">
                <value>C:\TEMP\PIMPMYUNICORN\</value>
            </setting>
            <setting name="wcf_timer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="file_extension" serializeAs="String">
                <value>sql</value>
            </setting>
        </WinFormPimpMyUnicorn.Settings1>
    </applicationSettings>
</configuration>